.index__main {
  display: flex;
  gap: 1rem;
}

.index__categories {
  flex: 1;
}

.index__sidebar {
  flex: 0 0 20rem;
}

.subcategory__latestThread {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.subcategory__latestThread__profileImage {
  border-radius: 100%;
  object-fit: contain;
  height: 2rem;
  width: 2rem;
}

.subcategory__latestThread__info {
  flex: 1;
  font-size: 0.75rem;
}

.subcategory__latestThread__info__title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
