html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: var(--oc-teal-9);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

img {
  max-width: 100%;
}

/** Layout **/

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin: 2rem 0;
  overflow-y: auto;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1rem;
  width: 100%;
}

/** Nav **/

.nav__upper {
  background-color: var(--oc-gray-9);
}

.nav__upper__content {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  padding: 0.5rem 0;
}

.nav__upper__link {
  color: white;
}

.nav__main {
  background-color: var(--oc-teal-9);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  color: white;
}

.nav__main__content {
  align-items: center;
  display: flex;
  padding: 1rem 0;
}

.nav__spacer {
  flex: 1;
}

.nav__title {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.nav__title:hover {
  color: white;
  text-decoration: none;
}

.nav__link {
  color: white;
  font-weight: 500;
}

/** Footer **/

.footer {
  background-color: var(--oc-gray-9);
  color: white;
  padding: 0.5rem 0;
}

/** Table **/

.pw-table {
  border-collapse: collapse;
  width: 100%;
}

.pw-table thead tr th {
  background-color: var(--oc-gray-1);
  border-bottom: 1px solid var(--oc-gray-4);
  color: var(--oc-gray-7);
  font-size: 14px;
  font-weight: bold;
  padding: 0.75rem 1rem;
  text-align: left;
}

.pw-table tbody tr td {
  padding: 0.75rem 1rem;
}

/** Button **/

.pw-button {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.1s ease-in-out;
}

.pw-button:disabled {
  cursor: not-allowed;
}

.pw-button.fluid {
  width: 100%;
}

/* Default */
.pw-button:hover {
  background-color: var(--oc-gray-0);
}

.pw-button:active {
  background-color: var(--oc-gray-1);
}

.pw-button.danger {
  color: var(--oc-red-9);
}

.pw-button.danger:hover {
  background-color: var(--oc-red-0);
}

.pw-button.danger:active {
  background-color: var(--oc-red-1);
}

/* Outlined */

.pw-button.outlined {
  background-color: transparent;
  border: 1px solid var(--oc-teal-9);
  color: var(--oc-teal-9);
}

.pw-button.outlined:hover {
  background-color: var(--oc-teal-9);
  color: white;
}

.pw-button.outlined:active {
  background-color: var(--oc-teal-8);
}

.pw-button.outlined.danger {
  border-color: var(--oc-red-9);
  color: var(--oc-red-9);
}

.pw-button.outlined.danger:hover {
  background-color: var(--oc-red-9);
  color: white;
}

.pw-button.outlined.danger:active {
  background-color: var(--oc-red-8);
  color: white;
}

/* Raised */

.pw-button.raised {
  background-color: var(--oc-teal-9);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  color: white;
}

.pw-button.raised.danger {
  background-color: var(--oc-red-9);
}

.pw-button.raised:active {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.pw-button.raised:disabled {
  background-color: var(--oc-gray-0) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) !important;
  color: var(--oc-gray-5) !important;
}

/** Icon Button **/

.pw-icon-button {
  appearance: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100%;
  color: var(--oc-gray-9);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  position: relative;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
  text-align: center;
  text-decoration: none !important;
  transition: all 100ms ease-in-out;
  width: 40px;
}

.pw-icon-button .material-symbols-outlined {
  display: block;
}

.pw-icon-button:hover:not(:disabled) {
  background-color: var(--oc-gray-0);
}

.pw-icon-button:active:not(:disabled) {
  background-color: var(--oc-gray-1);
}

.pw-icon-button:disabled {
  color: var(--oc-gray-5);
  cursor: not-allowed;
}

/** Input **/

.pw-input {
  background: transparent;
  border: 2px solid var(--oc-gray-4);
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in-out;
}

.pw-input:disabled {
  cursor: not-allowed;
}

.pw-input.textarea {
  max-width: 100%;
  min-height: 8rem;
  padding: 1rem;
}

.pw-input:hover {
  border: 2px solid var(--oc-gray-5);
}

.pw-input:focus,
.pw-input:active {
  border: 2px solid var(--oc-teal-9);
}

/** Card **/

.pw-card {
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--oc-gray-4);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  width: fit-content;
}

.pw-card.fluid {
  width: 100%;
}

.pw-card.center {
  margin-left: auto;
  margin-right: auto;
}

.pw-card.margin {
  margin: 1rem 0;
}

.pw-card.padding {
  padding: 1rem;
}