.thread {
  display: flex;
}

.thread__header {
  align-items: center;
  background-color: var(--oc-gray-1);
  border-bottom: 1px solid var(--oc-gray-4);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.thread__title {
  color: var(--oc-gray-9) !important;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.thread__title:hover {
  text-decoration: none;
}

.thread__user {
  align-items: center;
  border-right: 1px solid var(--oc-gray-4);
  display: flex;
  flex: 0 0 256px;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.thread__user__image {
  height: 100px;
  width: 100px;
}

.thread__user__image img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.thread__main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.thread__content {
  flex: 1;
  padding: 1rem;
}

.thread__signature {
  border-top: 1px solid var(--oc-gray-4);
  padding: 1rem;
}

.thread__actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
}