* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

/* set body min width to 20rem and reset line height */
body {
  line-height: 1;
  min-width: 20rem;
  margin: 0;
  padding: 0;
}

/* set cursor to pointer on buttons */
button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

/* set cursor to not-allowed on disabled buttons */
button:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled {
  cursor: not-allowed;
}

/* make images, videos and iframes not able to be wider than their parent element */
img,
video,
iframe {
  max-width: 100%;
}

/* set font-size to inherit for tables */
table {
  font-size: inherit;
}

/* remove border from a and img tags */
a,
img {
  border: 0;
}

/* remove underline from a tags */
a {
  text-decoration: none;
}

/* remove default bullet point or numbers from lists */
ul,
ol {
  padding-inline-start: 2rem;
}

/* set a consistent vertical alignment for inline and table cell elements */
img,
table,
td,
th {
  vertical-align: middle;
}

/* remove the default spacing that browsers apply to tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* remove default styles that browsers apply to form elements */
button,
input,
select,
textarea {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

/* remove iframe border */
iframe {
  border: 0;
}
