.index__main {
  display: flex;
  gap: 1rem;
}

.index__categories {
  flex: 1;
}

.index__sidebar {
  flex: 0 0 20rem;
}

.index__recentThreads__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.index__recentThreads__thread {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.index__recentThreads__thread__info {
  flex: 1;
  font-size: 0.75rem;
}

.index__recentThreads__thread__info__title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.index__statistics__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.index__statistics__list {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  width: 100%;
}

.index__statistics__row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.index__statistics__label {
  color: var(--oc-gray-7);
}

.subcategory__latestThread {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.subcategory__latestThread__info {
  flex: 1;
  font-size: 0.75rem;
}

.subcategory__latestThread__info__title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .index__main {
    flex-direction: column;
    gap: 0;
  }
}
