.profile__info {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.profile__info__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile__info__username {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  gap: 0.5rem;
}

.profile__info__stat {
  color: var(--muted-foreground);
}

.profile__info__stat__value {
  color: var(--foreground);
}

.profile__thread__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile__thread {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
}

.profile__thread__details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.profile__thread__title {
  font-size: 1.125rem;
}

.profile__thread__date {
  color: var(--muted-foreground);
  font-size: 0.875rem;
}

.profile__thread:not(:last-of-type) {
  border-bottom: 1px solid var(--border);
}

@media screen and (max-width: 768px) {
  .profile__info {
    align-items: start;
    flex-direction: column;
  }
}
