.onlineIndicator {
  background-color: var(--tw-green-500);
  border-radius: 100%;
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
}

/** Layout **/

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin: 2rem 0;
  overflow-y: auto;
}

/** Nav **/

.nav__upper {
  background-color: var(--muted);
}

.nav__upper__content {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.5rem 0;
}

.nav__upper__links {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.nav__upper__link {
  color: var(--foreground);
}

.nav__main {
  border-bottom: var(--border-width) solid var(--border);
}

.nav__main__content {
  align-items: center;
  display: flex;
  padding: 1rem 0;
  gap: 1.5rem;
}

.nav__spacer {
  flex: 1;
}

.nav__title {
  color: var(--foreground);
  font-size: 1.5rem;
  font-weight: 700;
}

.nav__title:hover {
  color: var(--foreground);
  text-decoration: none;
}

.nav__link {
  color: var(--foreground);
  font-weight: 500;
}

/** Footer **/

.footer {
  background-color: var(--muted);
  color: var(--muted-foreground);
  font-size: 0.875rem;
  padding: 0.5rem 0;
}

.footer__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer a {
  color: var(--foreground);
  font-weight: 500;
}

/* Center content, used for login and signup */

.centerPage {
  margin: 0 auto;
  width: 20rem;
}

/* Style helptext in Django forms */

.helptext {
  color: var(--muted-foreground);
  font-size: 0.875rem;
  margin: 0;
}

/* Style error messages in Django forms */

.errorlist {
  color: var(--error);
  margin: 0;
  padding-inline-start: 1rem;
}

.pw-breadcrumb {
  background-color: var(--muted);
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}

.material-icons,
.material-symbols,
.material-symbols-outlined {
  font-size: 1rem;
  user-select: none;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
