.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  animation: fadeIn 150ms ease;
}

.modal__underlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.modal__content {
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
  background-color: white;
  overflow: auto;
  position: relative;
  width: fit-content;

  animation: zoomIn 150ms ease;
}

.modal__header {
  align-items: center;
  background-color: var(--card-header-bg);
  border-bottom: 1px solid var(--border);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: space-between;
  padding: 1rem;
}

.modal__body {
  padding: 1rem;
}

.modal__actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .modal__content {
    max-width: 90vw;
  }
}
