.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settingsForm__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.settingsForm .errorlist {
  color: var(--oc-red-9);
  margin: 0;
}

.settingsForm__actions {
  align-items: center;
  display: flex;
  gap: 1rem;
}
