.shoutbox__shouts {
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  height: 12rem;
  overflow-y: auto;
}

.shoutbox__shout {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
  white-space: wrap;
}

.shoutbox__shout:hover {
  background-color: var(--oc-gray-1);
}

.shoutbox__shout__actions {
  align-items: center;
  display: flex;
}

.shoutbox__form {
  padding: 0.5rem 0;
}

.shoutbox__input {
  border: none !important;
}
