.subcategory__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.thread__title {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.thread__title .material-symbols-outlined {
  font-size: 1rem;
}

.thread__latestPost {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.thread__latestPost__info {
  font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
  .subcategory__header {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
}
