.subcategoryForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subcategoryForm__field {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subcategoryForm .errorlist {
  color: var(--oc-red-9);
  margin: 0;
}

.subcategoryForm__actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
