.threadForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.threadForm__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.threadForm .errorlist {
  color: var(--oc-red-9);
  margin: 0;
}

.threadForm__actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
