.thread {
  display: flex;
}

.thread__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.thread__date {
  background-color: var(--muted);
  border-bottom: var(--border-width) solid var(--border);
  font-weight: 700;
  padding: 1rem;
  text-decoration: none;
}

.post__header {
  align-items: center;
  background-color: var(--muted);
  border-bottom: var(--border-width) solid var(--border);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.post__date {
  font-weight: 700;
  text-decoration: none;
}

.thread__index {
  color: var(--foreground) !important;
}

.thread__user {
  align-items: center;
  border-right: 1px solid var(--border);
  display: flex;
  flex: 0 0 16rem;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.thread__user__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.thread__user__username {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.thread__user__group {
  font-size: 0.75rem;
  font-weight: 700;
}

.thread__user__details {
  background-color: var(--muted);
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding: 0.5rem;
  width: 100%;
}

.thread__user__details__row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.thread__user__details__label {
  color: var(--muted-foreground);
}

.thread__main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.thread__content {
  flex: 1;
  padding: 1rem;
}

.thread__actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
  padding: 1rem;
}

.thread__signature {
  border-top: 1px solid var(--border);
  padding: 1rem;
}

.thread__reply__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .thread {
    flex-direction: column;
  }

  .thread__user {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}
