:root {
  --primary-0: var(--oc-indigo-0);
  --primary-1: var(--oc-indigo-1);
  --primary-2: var(--oc-indigo-2);
  --primary-3: var(--oc-indigo-3);
  --primary-4: var(--oc-indigo-4);
  --primary-5: var(--oc-indigo-5);
  --primary-6: var(--oc-indigo-6);
  --primary-7: var(--oc-indigo-7);
  --primary-8: var(--oc-indigo-8);
  --primary-9: var(--oc-indigo-9);

  --text-dark: var(--oc-gray-9);
  --text-light: var(--oc-gray-0);
  --text-on-primary: var(--oc-gray-0);

  --body-bg: var(--oc-white);
  --body-fg: var(--text-dark);

  --border: var(--oc-gray-4);

  --link: var(--primary-9);

  --upper-nav-bg: var(--oc-gray-9);
  --upper-nav-link: var(--text-light);

  --main-nav-bg: var(--primary-9);
  --main-nav-link: var(--text-light);
  --main-nav-text: var(--text-light);
  --main-nav-title: var(--text-light);

  --breadcrumb-bg: var(--oc-gray-1);
  --breadcrumb-active: var(--text-dark);
  --breadcrumb-link: var(--link);
  --breadcrumb-separator: var(--oc-gray-6);

  --card-bg: var(--oc-white);
  --card-header-bg: var(--oc-gray-1);

  --table-header-bg: var(--oc-gray-1);
  --table-header-text: var(--oc-gray-7);

  --footer-bg: var(--oc-gray-9);
  --footer-link: var(--text-light);
}
