{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PunkwebBB</title>
  {% block extra_head %}
  {% endblock %}
</head>

<body>
  <header>
    <nav>
      <a href="{% url 'punkweb_bb:index' %}">
        PunkwebBB
      </a>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  <footer>
    <p>
      PunkwebBB
    </p>
  </footer>
  <script src="{% static 'punkweb_bb/jquery-3.7.0.min.js' %}"></script>
  {% block extra_script %}
  {% endblock %}
</body>

</html>