{% extends 'punkweb_bb/base.html' %}

{% load static %}

{% block title_prefix %}Edit Category |{% endblock %}
{% block content %}
  <nav>
    <ul class="pw-breadcrumb">
      <li class="pw-breadcrumb-item">
        <a href="{% url 'punkweb_bb:index' %}">Home</a>
      </li>
      <li class="pw-breadcrumb-item">
        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
      </li>
      <li class="pw-breadcrumb-item active">Edit</li>
    </ul>
  </nav>
  <div class="pw-card fluid">
    <div class="pw-card-header">Edit Category</div>
    <div class="pw-card-content">
      <form class="pw-form"
            action="{% url 'punkweb_bb:category_update' category.slug %}"
            method="post">
        {% csrf_token %}
        {{ form }}
        <div class="pw-form-actions end">
          <a class="pw-button default" href="{{ category.get_absolute_url }}">Cancel</a>
          <button class="pw-button raised primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
