{% extends 'punkweb_bb/base.html' %}
{% load static %}

{% block title_prefix %}Create Category | {% endblock %}

{% block extra_head %}
{{form.media.css}}
<link rel="stylesheet" href="{% static 'punkweb_bb/css/category-form.css' %}" />
{% endblock %}

{% block content %}

<nav>
  <ul class="pw-breadcrumb">
    <li class="pw-breadcrumb-item">
      <a href="{% url 'punkweb_bb:index' %}">Home</a>
    </li>
    <li class="pw-breadcrumb-item active">
      Create Category
    </li>
  </ul>
</nav>

<div class="pw-card fluid">
  <div class="pw-card-header">Create Category</div>
  <div class="pw-card-content">
    <form class="categoryForm" action="{% url 'punkweb_bb:category_create' %}" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="categoryForm__field">
        <label class="pw-input-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      </div>
      {% endfor %}
      {% if form.non_field_errors %}
      {{ form.non_field_errors }}
      {% endif %}
      <div class="categoryForm__actions">
        <a class="pw-button default" href="{% url 'punkweb_bb:index' %}" type="submit">Cancel</a>
        <button class="pw-button raised primary" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block extra_script %}
{{form.media.js}}
{% endblock %}