{% extends 'punkweb_bb/base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'punkweb_bb/css/index.css' %}" />
<link rel="stylesheet" href="{% static 'punkweb_bb/css/shoutbox.css' %}" />
{% endblock %}

{% block extra_script %}
<script src="{% static 'punkweb_bb/js/shoutbox.js' %}"></script>
{% endblock %}

{% block content %}

<div class="index">
  <div class="index__main">
    <div class="index__categories">
      {% include 'punkweb_bb/shoutbox/shoutbox.html' %}
      {% for category in categories %}
      <div id="{{category.slug}}.{{category.order}}" class="pw-card fluid margin">
        <table class="pw-table">
          <colgroup>
            <col span="1">
            <col span="1" width="96px">
            <col span="1" width="96px">
            <col span="1" width="320px">
          </colgroup>
          <thead>
            <tr>
              <th><a href="{{category.get_absolute_url}}">{{category.name}}</a></th>
              <th>Threads</th>
              <th>Posts</th>
              <th>Latest Thread</th>
            </tr>
          </thead>
          <tbody>
            {% for subcategory in category.subcategories.all %}
            <tr>
              <td>
                <a href="{{subcategory.get_absolute_url}}" title="{{subcategory.name}}">{{subcategory.name}}</a>
                <div>
                  {{subcategory.description}}
                </div>
              </td>
              <td>{{subcategory.thread_count}}</td>
              <td>{{subcategory.post_count}}</td>
              <td>
                {% if subcategory.latest_thread %}
                <div class="subcategory__latestThread">
                  {% if subcategory.latest_thread.user.profile.image %}
                  <img class="subcategory__latestThread__profileImage"
                    src="{{subcategory.latest_thread.user.profile.image.url}}" />
                  {% else%}
                  <img class="subcategory__latestThread__profileImage"
                    src="{% static 'punkweb_bb/img/default-profile-image.png' %}" />
                  {% endif %}
                  <div class="subcategory__latestThread__info">
                    <a class="subcategory__latestThread__info__title"
                      href="{{subcategory.latest_thread.get_absolute_url}}" title="{{subcategory.latest_thread.title}}">
                      {{subcategory.latest_thread.title}}
                    </a>
                    <div>
                      <time datetime="{{subcategory.latest_thread.created_at|date:'c'}}">
                        {{subcategory.latest_thread.created_at|date:'M j, Y'}} at
                        {{subcategory.latest_thread.created_at|date:'g:i A'}}
                      </time>
                      • {{subcategory.latest_thread.user.username}}
                    </div>
                  </div>
                </div>
                {% else %}
                No threads yet
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
    <div class="index__sidebar">
      <div class="pw-card fluid padding">
        <h3>Recent Threads</h3>
        {% for thread in recent_threads %}
        <div class="subcategory__latestThread" style="margin-bottom: 1rem;">
          {% if thread.user.profile.image %}
          <img class="subcategory__latestThread__profileImage" src="{{thread.user.profile.image.url}}" />
          {% else%}
          <img class="subcategory__latestThread__profileImage"
            src="{% static 'punkweb_bb/img/default-profile-image.png' %}" />
          {% endif %}
          <div class="subcategory__latestThread__info">
            <a class="subcategory__latestThread__info__title" href="{{thread.get_absolute_url}}"
              title="{{thread.title}}">
              {{thread.title}}
            </a>
            <div>
              <time datetime="{{thread.created_at|date:'c'}}">
                {{thread.created_at|date:'M j, Y'}} at
                {{thread.created_at|date:'g:i A'}}
              </time>
              • {{thread.user.username}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="pw-card fluid margin padding">
        <h3>Statistics</h3>
        <ul>
          <li>Total threads: {{ thread_count }}</li>
          <li>Total posts: {{post_count}}</li>
          <li>Total members: {{users|length}}</li>
          <li>Newest member: {{newest_user.username}}</li>
          <li>Members online: {{users_online|length}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}