{% extends 'punkweb_bb/base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'punkweb_bb/index.css' %}" />
<link rel="stylesheet" href="{% static 'punkweb_bb/shoutbox.css' %}" />
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  function shoutboxScrollToBottom() {
    var shoutlist = document.querySelector('#shoutlist');
    shoutlist.scrollTop = shoutlist.scrollHeight;
  }
</script>
{% endblock %}

{% block content %}

<div class="index">
  <div class="index__main">
    <div class="index__categories">
      {% include 'punkweb_bb/shoutbox/shoutbox.html' %}
      {% for category in categories %}
      <div id="{{category.slug}}.{{category.order}}" class="pw-card fluid margin">
        <table class="pw-table">
          <colgroup>
            <col span="1">
            <col span="1" width="96px">
            <col span="1" width="96px">
            <col span="1" width="320px">
          </colgroup>
          <thead>
            <tr>
              <th><a href="{{category.get_absolute_url}}">{{category.name}}</a></th>
              <th>Threads</th>
              <th>Posts</th>
              <th>Latest Thread</th>
            </tr>
          </thead>
          <tbody>
            {% for subcategory in category.subcategories.all %}
            <tr>
              <td>
                <a href="{% url 'punkweb_bb:subcategory_detail' subcategory.slug %}"
                  title="{{subcategory.name}}">{{subcategory.name}}</a>
                <div>
                  {{subcategory.description}}
                </div>
              </td>
              <td>{{subcategory.thread_count}}</td>
              <td>{{subcategory.post_count}}</td>
              <td>
                {% if subcategory.latest_thread %}
                <div class="subcategory__latestThread">
                  <img class="subcategory__latestThread__profileImage"
                    src="{{subcategory.latest_thread.user.profile.image.url}}" />
                  <div class="subcategory__latestThread__info">
                    <a class="subcategory__latestThread__info__title"
                      href="{% url 'punkweb_bb:thread_detail' subcategory.latest_thread.id %}"
                      title="{{subcategory.latest_thread.title}}">
                      {{subcategory.latest_thread.title}}
                    </a>
                    <div>
                      <time datetime="{{subcategory.latest_thread.created_at|date:'c'}}">
                        {{subcategory.latest_thread.created_at|date:'M j, Y'}} at
                        {{subcategory.latest_thread.created_at|date:'g:i A'}}
                      </time>
                      • {{subcategory.latest_thread.user.username}}
                    </div>
                  </div>
                </div>
                {% else %}
                No threads yet
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
    <div class="index__sidebar">
      <div class="pw-card fluid padding">
        <h3>Recent Threads</h3>
        {% for thread in recent_threads %}
        <ul>
          <li>
            <a href="{% url 'punkweb_bb:thread_detail' thread.id %}">{{thread.title}}</a>
            <p>Posted by: {{ thread.user.username }} ({{thread.post_count}}
              {% if thread.post_count == 1 %}reply{% else%}replies{% endif %})</p>
            <p>
              {{thread.created_at|date:'m/d/Y'}} in
              <a href="{% url 'punkweb_bb:subcategory_detail' thread.subcategory.slug %}">
                {{thread.subcategory.name}}
              </a>
            </p>
          </li>
        </ul>
        {% endfor %}
      </div>
      <div class="pw-card fluid margin padding">
        <h3>Statistics</h3>
        <ul>
          <li>Total threads: {{ thread_count }}</li>
          <li>Total posts: {{post_count}}</li>
          <li>Total users: {{profile_count}}</li>
          <li>Newest member: {{newest_profile.user.username}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}