{% extends 'punkweb_bb/base.html' %}

{% block title_prefix %}Login | {% endblock%}

{% block content %}

<nav>
  <ol class="pw-breadcrumb">
    <li class="pw-breadcrumb-item">
      <a href="{% url 'punkweb_bb:index' %}">Home</a>
    </li>
    <li class="pw-breadcrumb-item active">
      Login
    </li>
  </ol>
</nav>

<div class="pw-card center padding">
  <h1>Login</h1>
  <form action="{% url 'punkweb_bb:login' %}" method="post">
    {% csrf_token %}
    <p>
      <label for="id_username">Username:</label>
      <input class="pw-input" type="text" name="username" autofocus autocapitalize="none" autocomplete="username"
        maxlength="150" required id="id_username">
    </p>
    <p>
      <label for="id_password">Password:</label>
      <input class="pw-input" type="password" name="password" autocomplete="current-password" required id="id_password">
    </p>
    <button class="pw-button fluid raised" type="submit">Login</button>
  </form>
</div>

{% endblock %}