{% extends 'punkweb_bb/base.html' %}

{% block title_prefix %}Update Profile | {% endblock %}

{% block extra_head %}
{{form.media.css}}
{% endblock %}

{% block content %}

<nav>
  <ol class="pw-breadcrumb">
    <li class="pw-breadcrumb-item">
      <a href="{% url 'punkweb_bb:index' %}">Home</a>
    </li>
    <li class="pw-breadcrumb-item active">
      Settings
    </li>
  </ol>
</nav>

<div class="pw-card fluid padding">
  <h1>Update Profile</h1>
  <form action="{% url 'punkweb_bb:profile_update' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <a class="pw-button" href="{% url 'punkweb_bb:profile_detail' %}">Cancel</a>
    <button class="pw-button raised" type="submit">Save</button>
  </form>
</div>

{% endblock %}

{% block extra_script %}
{{form.media.js}}
{% endblock %}