{% extends 'punkweb_bb/base.html' %}
{% load static %}

{% block title_prefix %}Settings | {% endblock %}
{% block og_title_prefix %}Settings | {% endblock %}

{% block extra_head %}
{{form.media.css}}
{% endblock %}

{% block extra_script %}
{{form.media.js}}
{% endblock %}

{% block content %}

<nav>
  <ul class="pw-breadcrumb">
    <li class="pw-breadcrumb-item">
      <a href="{% url 'punkweb_bb:index' %}">Home</a>
    </li>
    <li class="pw-breadcrumb-item active">
      Settings
    </li>
  </ul>
</nav>

<div class="pw-card fluid">
  <div class="pw-card-header">Settings</div>
  <div class="pw-card-content">
    <form class="pw-form" action="{% url 'punkweb_bb:settings' %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form }}
      <div class="pw-form-actions end">
        <a class="pw-button default" href="{% url 'punkweb_bb:profile' request.user.id %}">Cancel</a>
        <button class="pw-button raised primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
