{% extends 'punkweb_bb/base.html' %}

{% load static %}

{% block title_prefix %}Sign Up |{% endblock %}
{% block og_title_prefix %}Sign Up |{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'punkweb_bb/css/signup.css' %}" />
{% endblock %}
{% block content %}
  <nav>
    <ul class="pw-breadcrumb">
      <li>
        <a href="{% url 'punkweb_bb:index' %}">Home</a>
      </li>
      <li class="active">Sign Up</li>
    </ul>
  </nav>
  <div class="pw-card centerPage">
    <h1 class="mt-0">Sign Up</h1>
    <form class="pw-form" action="{% url 'punkweb_bb:signup' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <div class="pw-form-actions">
        <button class="pw-button primary w-full" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
{% endblock %}
