{% extends 'punkweb_bb/base.html' %}
{% load static %}

{% block title_prefix %}Sign Up | {% endblock%}
{% block og_title_prefix %}Sign Up | {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'punkweb_bb/css/signup.css' %}" />
{% endblock %}

{% block content %}

<nav>
  <ul class="pw-breadcrumb">
    <li class="pw-breadcrumb-item">
      <a href="{% url 'punkweb_bb:index' %}">Home</a>
    </li>
    <li class="pw-breadcrumb-item active">
      Sign Up
    </li>
  </ul>
</nav>

<div class="pw-card center signupCard">
  <div class="pw-card-header">Sign Up</div>
  <div class="pw-card-content">
    <form class="stackedForm" action="{% url 'punkweb_bb:signup' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <button class="pw-button fluid raised primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>

{% endblock %}