{% extends 'punkweb_bb/base.html' %}
{% load static %}

{% block title_prefix %}Create Thread | {% endblock %}

{% block extra_head %}
{{form.media.css}}
<link rel="stylesheet" href="{% static 'punkweb_bb/css/thread-create.css' %}" />
{% endblock %}

{% block content %}

<nav>
  <ol class="pw-breadcrumb">
    <li class="pw-breadcrumb-item">
      <a href="{% url 'punkweb_bb:index' %}">Home</a>
    </li>
    <li class="pw-breadcrumb-item">
      <a href="{{subcategory.get_absolute_url}}">{{subcategory.name}}</a>
    </li>
    <li class="pw-breadcrumb-item active">
      Create Thread
    </li>
  </ol>
</nav>

<div class="pw-card fluid padding">
  <h1>Create Thread</h1>
  <form class="threadForm" action="{% url 'punkweb_bb:thread_create' subcategory.slug %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="threadForm__field">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    {% if form.non_field_errors %}
    {{ form.non_field_errors }}
    {% endif %}
    <div class="threadForm__actions">
      <button class="pw-button raised" type="submit">Create Thread</button>
    </div>
  </form>
</div>

{% endblock %}

{% block extra_script %}
{{form.media.js}}
{% endblock %}