{% extends 'punkweb_bb/base.html' %}

{% block title_prefix %}Create Thread | {% endblock %}

{% block extra_head %}
{{form.media.css}}
{% endblock %}

{% block content %}

<form action="{% url 'punkweb_bb:thread_create' subcategory.slug %}" method="post">
  {% csrf_token %}
  <p>
    <label for="id_title">Title:</label>
    <input class="pw-input" type="text" name="title" maxlength="255" required id="id_title">
  </p>
  <p>
    <label for="id_content">Content:</label>
    <textarea name="content" cols="40" rows="10" class="bbcode-editor" required id="id_content"></textarea>
  </p>
  <button class="pw-button raised" type="submit">Create Thread</button>
</form>

{% endblock %}

{% block extra_script %}
{{form.media.js}}
{% endblock %}