{% extends 'punkweb_bb/base.html' %}

{% block title_prefix %}Create Thread | {% endblock %}

{% block extra_head %}
{{form.media.css}}
{% endblock %}

{% block content %}

<nav>
  <ol class="pw-breadcrumb">
    <li class="pw-breadcrumb-item">
      <a href="{% url 'punkweb_bb:index' %}">Home</a>
    </li>
    <li class="pw-breadcrumb-item">
      <a href="{{subcategory.get_absolute_url}}">{{subcategory.name}}</a>
    </li>
    <li class="pw-breadcrumb-item active">
      Create Thread
    </li>
  </ol>
</nav>

<div class="pw-card fluid padding">
  <h1>Create Thread</h1>
  <form action="{% url 'punkweb_bb:thread_create' subcategory.slug %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="pw-button raised" type="submit">Create Thread</button>
  </form>
</div>

{% endblock %}

{% block extra_script %}
{{form.media.js}}
{% endblock %}