{% extends 'punkweb_bb/base.html' %}

{% load static %}

{% block title_prefix %}Edit Thread |{% endblock %}
{% block extra_head %}{{ form.media.css }}{% endblock %}
{% block extra_script %}{{ form.media.js }}{% endblock %}
{% block content %}
  <nav>
    <ul class="pw-breadcrumb">
      <li>
        <a href="{% url 'punkweb_bb:index' %}">Home</a>
      </li>
      <li>
        <a href="{{ thread.subcategory.category.get_absolute_url }}">{{ thread.subcategory.category.name }}</a>
      </li>
      <li>
        <a href="{{ thread.subcategory.get_absolute_url }}">{{ thread.subcategory.name }}</a>
      </li>
      <li>
        <a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
      </li>
      <li class="active">Edit</li>
    </ul>
  </nav>
  <div class="pw-card">
    <h1 class="mt-0">Edit Thread</h1>
    <form class="pw-form"
          action="{% url 'punkweb_bb:thread_update' thread.id %}"
          method="post">
      {% csrf_token %}
      {{ form }}
      <div class="pw-form-actions end">
        <a class="pw-button" href="{{ thread.get_absolute_url }}">Cancel</a>
        <button class="pw-button primary" type="submit">Save</button>
      </div>
    </form>
  </div>
{% endblock %}
