{% extends 'punkweb_bb/base.html' %}

{% load static %}

{% block title_prefix %}{{thread.title}} | {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'punkweb_bb/thread-detail.css' %}" />
{{post_form.media.css}}
{% endblock %}

{% block extra_script %}
{{post_form.media.js}}
{% endblock %}

{% block content %}

{% if posts.number == 1 %}
<div class="pw-card fluid margin">
  <div class="thread__header">
    <div class="thread__title">{{thread.title}}</div>
  </div>
  <div class="thread">
    <div class="thread__user">
      {% if thread.user.profile.image %}
      <div class="thread__user__image">
        <img src="{{thread.user.profile.image.url}}" alt="{{thread.user.username}}" />
      </div>
      {% endif %}
      <div>
        {% if thread.user.profile.is_online %}
        <span class="onlineIndicator"></span>
        {% endif %}
        {{thread.user.username}}
      </div>
      <div>Posts: {{thread.user.profile.post_count}}</div>
      <div>
        Join date: {{thread.user.profile.created_at|date:"m/d/y"}}
      </div>
    </div>
    <div class="thread__main">
      <div class="thread__content">
        {{thread.content.rendered}}
      </div>
      {% if thread.user.profile.signature.rendered %}
      <div class="thread__signature">
        {{thread.user.profile.signature.rendered}}
      </div>
      {% endif %}
      {% if thread.user == request.user %}
      <div class="thread__actions">
        <a class="pw-button" href="{% url 'punkweb_bb:thread_update' thread.id %}">Edit</a>
        <a class="pw-button raised danger" hx-get="{% url 'punkweb_bb:thread_delete' thread.id %}"
          hx-target="#modal-portal">
          Delete
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% for post in posts %}
<div id="post-{{post.id}}" class="pw-card fluid margin">
  <div class="thread__header">
    <a class="thread__title" href="{{post.get_absolute_url}}">#{{post.index}}</a>
  </div>
  <div class="thread">
    <div class="thread__user">
      {% if post.user.profile.image %}
      <div class="thread__user__image">
        <img src="{{post.user.profile.image.url}}" alt="{{post.user.username}}" />
      </div>
      {% endif %}
      <div>
        {% if post.user.profile.is_online %}
        <span class="onlineIndicator"></span>
        {% endif %}
        {{post.user.username}}
      </div>
      <div>Posts: {{post.user.profile.post_count}}</div>
      <div>
        Join date: {{post.user.profile.created_at|date:"m/d/y"}}
      </div>
    </div>
    <div class="thread__main">
      <div class="thread__content">
        {{post.content.rendered}}
      </div>
      {% if post.user.profile.signature.rendered %}
      <div class="thread__signature">
        {{post.user.profile.signature.rendered}}
      </div>
      {% endif %}
      {% if post.user == request.user %}
      <div class="thread__actions">
        <a class="pw-button" hx-get="{% url 'punkweb_bb:post_update' post.id %}" hx-target="#modal-portal">Edit</a>
        <a class="pw-button raised danger" hx-get="{% url 'punkweb_bb:post_delete' post.id %}"
          hx-target="#modal-portal">
          Delete
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}

<ul>
  {% for i in posts.paginator.page_range %}
  {% if posts.number == i %}
  <li>{{i}}</li>
  {% else %}
  <li><a href="{% url 'punkweb_bb:thread_detail' thread.id %}?page={{i}}">{{i}}</a></li>
  {% endif %}
  {% endfor %}
</ul>

{% if request.user.is_authenticated %}
<div class="pw-card fluid margin padding">
  <h4>Reply to thread</h4>
  <form action="{% url 'punkweb_bb:post_create' thread.id %}" method="post">
    {% csrf_token %}
    {{post_form.as_p}}
    <button class="pw-button raised" type="submit">Post reply</button>
  </form>
</div>
{% endif %}

{% endblock %}