{% extends 'punkweb_bb/base_modal.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<form class="postForm" action="{% url 'punkweb_bb:post_update' post.id %}" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="postForm__field">
    {{ field }}
  </div>
  {% endfor %}
  {% if form.non_field_errors %}
  {{ form.non_field_errors }}
  {% endif %}
  <div class="postForm__actions">
    <button class="pw-button raised primary" type="submit">Save</button>
  </div>
</form>
{{form.media.css}}
{{form.media.js}}
{% endblock %}